body{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid black;
    width: 100%;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h5{
    font-size: 20px;
}

.bungkusan2{
    margin-top: 20px;
    text-align: center;
    max-width: 60%;
}

.bungkusan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bungkusan3{
    margin-bottom: 30px;
}

.garis{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(194, 194, 194);
    height: 0.5px;
}

.baris{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(237, 240, 244);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 30px;
    font-family: "Open Sans", serif;
}

.atasan{
    display: flex;
    align-items: center;
}

.ketua{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* .espigi{
    width: 100%;
    display: flex;
    justify-content: center;
} */



.isi{
    max-width: 60%;
    width: 40%;
}


.orang{
    width: 42px;
    height: 42px;
}

.nama2{
    font-weight: bold;
    width: 100%;
}

.email2{
    font-weight: bold;
}

.nama{
    padding: 7px;
    width: 88%;
    border-color: #5b5b5b;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
}

.email{
    padding: 7px;
    width: 88%;
    border-color: #5b5b5b;
    border-radius: 5px;
    border-width: 2px;
    padding: 10px;
}

.contact-card{
    margin-left: 10px;
    margin-right: 10px;
}

.container {
 max-width: 1280px;
 width: 100%;
 margin: auto;
 display: block;
}

.teks{
    font-family: "Open Sans", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.teks2{
    color: #798da3;
    font-size: 16px;
    font-family: "Open Sans", serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo {
    height: 100%;
    width: 50px;
}

.navbar {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.menu-item {
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.hero-title {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;

}

.about {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    gap: 40px;
}

.about-contact {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.klik{      
    border-radius: 3px;
    color: #FFFF;
    background-color: #232323;
    width: 100%;
    height: 42px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    height: 40px;
    padding: 0px 10px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: table-cell;
    word-break: break-word;
}

.about-img {
    height: 60%;
    width: 500px;
}

.content-caption > p {
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
}

.content-person {
    display: flex;
    gap: 20px;
    align-items: center;
}

.content-person > img {
    border-radius: 50%;
}

.person-info {
    display: flex;
    flex-direction: column;
    
}


.person-info > p {
    color: gray;
    font-style: italic;
    margin-top: 10px;
}

.contact {
    background-color: rgb(237, 240, 244);
    width: 20%;
    height: 600px;
    padding: 20px;
    font-family: "Open Sans", serif;
    padding-left: 50px;
    padding-right: 50px;
}

.opsi {
    width: 100%;
    height: 30px;
    border-color: #5b5b5b;
    border-radius: 5px;
    border-width: 1px;
    
}

.border {
    width: 100px;
}

.information-title {
    max-width: 80%;
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}

.information-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.information-list > li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.list-number {
    background-color: gray;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
}

.list-paragraph{
    max-width: 60%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(123, 87, 106, 0.23);
    padding: 40px;
}

.card-title > h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

.tombol{
    background-color: #232323;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 206px;
    height: 42px;
    padding: 0px 10px;
    min-width: 1px;
    min-height: 1px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: table-cell;
    word-break: break-word;
    margin-bottom: 40px;
    margin-top: 35px;
}

.tetew{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ob{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.gtw{
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px; /*nyesuain pinggiran*/
}

.l12{
    display: flex;
    gap: 12px;
    max-width: 25%;
}

.icon{
    width: 42px;
    height: 42px;
    aspect-ratio: 1;
    background-color: rgb(237, 240, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
}

.icon > img {
    width: 70%;
}

.esvigi{
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
}